/* mobile */
.grid-container {
  display: grid;
  grid-gap: 0px;
  padding: ;
  grid-template-areas:
    "logo menu"
    "par2 par2"
    "promo promo"
    "slide slide"
    "par3 par3"
    "newslide newslide"
    "about about"
    "tour tour"
    "music music"
    "par1 par1"
    "video video"
    "video2 video2"
    "mail mail"
    "fs fs"
    "navbar navbar"
    "enter enter"
    "contact contact"
    "social social"
    "footer footer";
}

body {
background: url();
  width: 100%;
  color: black;
  text-transform: ;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 0px 10px white;
  margin: auto;
  background: linear-gradient(-45deg, red, gold, green);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.footer {
  grid-area: footer;
  text-align: center;
  margin: 15px;
  position: relative;
}

.about {
  grid-area: about;
  width: 90%;
  text-align: center;
  margin: 20px auto 20px auto;
  font-size: 1.25em;
  display: ;
  position: relative;
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.cg {
  grid-area: cg;
  width: 100%;
  position: ;
  display: none;
  margin: auto;
  height: 100%;
}

.enter {
  grid-area: enter;
  margin: 20px auto 20px auto;
  z-index: 1;
}

.logo {
  grid-area: logo;
  margin: 15px;
  display: relative;
  z-index: 2;
  width: 90%;
  position: absolute;
}

.logovid {
  grid-area: logovid;
  display: none;
}

.contact {
  text-align: center;
  display: relative;
  grid-area: contact;
 display: none;
}

.par1 {
	background-image: url('https://iconscious.us/images/live/slidedenver.png');
	grid-area: par1;
	opacity: 1;
	display: ;
	filter: grayscale(100%);
	position: fixed;
	top: 0;
	left: -500;
	width: 500%;
	height: 100%;
}



.par2 {
	display: ;
	grid-area: par2;
	background-attachment: scroll;
	background-image: url('https://iconscious.us/images/slide/slidemarbleblue.jpeg');
	height: 100%;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	filter: grayscale(100%);
	height: 600px;
	width: 100%;
	z-index: 1;
	position: relative;
}


.par3 {
	grid-area: par3;
	display: none;
	opacity: 1;
	filter: grayscale(0%);
	background-image: url("https://iconscious.us/images/live/den.png");
	height: 600px;
	width: 100%;
	z-index: 1;
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.slide {
  grid-area: slide;
  text-align: center;
  display: none;
}

.tour {
  grid-area: tour;
  display: ;
  background-color: ;
  width: 90%;
  margin: auto;
}

.promo {
  grid-area: promo;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}

.video {
  grid-area: video;
  display: ;
  width: 90%;
  margin: 20px auto 20px auto;
  filter: grayscale(100%);
  position: relative;
}
.video2 {
  grid-area: video2;
  display: ;
  width: 90%;
  margin: auto auto 20px auto;
  filter: grayscale(100%);
  position: relative;
}

.navbar {
  grid-area: navbar;
  background-color: ;
  font-color: #fff;
  text-align: left;
  display: none;
}
li {
  display: block;
  margin: 20px;
}
ul {
  margin: 20px 0 20px 0;
  list-style-type: none;
  color: black;
  text-align: center;
  padding: 0;
  width: 100%;
}
li a {
  color: #000;
  text-decoration: none;
}
li a:hover {
  color: #000;
  background: none;
}

.music {
  color: #fff;
  text-align: center;
  grid-area: music;
  display: ;
  width: 90%;
  margin: auto auto 15px auto;
  position: relative;
  filter: grayscale(100%);
}

.mail {
  grid-area: mail;
  display: none;
  text-align: center;
  position: relative;
  color: #000;
  z-index: 2;
}

.mail:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.24;
  background-image: url("http://iconscious.us/images/live/den.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}


#mc_embed_signup .button {
  background-color: #aaa !important;
}
#mc_embed_signup {
  background: transparent !important;
  color: white;
}
.fs {
  grid-area: fs;
  display: none;
}
.social {
  grid-area: social;
  text-align: center;
  margin: px;
  display: none;
  font-size: 20px;
}
.fa {
  /* padding: 10px; */
  width: px;
  text-align: center;
  text-decoration: none;
  color: #000;
  margin: 10px;
}

h3 {
  border-bottom: 1px #fff solid;
  z-index: 2;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.menu {
  margin: 15px;
  display: none;
}

.mynav {
  grid-area: mynav;
}
a:link {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #000;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #000;
  background-color: transparent;
  text-decoration: underline;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #000;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
.contact {
  text-align: center;
  width: 90%;
  margin: 10px auto 20px auto;
  position: relative;
}


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (min-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 0 0px 0 0px;
    grid-template-areas:
      "logo logo"
      "par2 par2"
      "promo promo"
      "slide slide"
      "par3 par3"
      "newslide newslide"
      "tour tour"
      "about music"
      "par1 par1"
      "video video"
      "video2 video2"
      "mail mail"
      "fs fs"
      "navbar navbar"
      "enter enter"
      "contact contact"
      "social social"
      "footer footer";
  }
  body {
    margin: 0;
  }

  .about {
    margin: auto;
    font-size: 1.3em;
    text-shadow: 0px 0px 5px white;
  }

.fs {
    text-align: ;
  }

.enter {
    grid-area: enter;
    margin: auto auto 20px auto;
    z-index: 0; 
}

  li {
    display: inline-block;
    margin: 10px;
  }

.logo {
  grid-area: logo;
  margin: 15px;
  display: relative;
  z-index: 2;
  width: 100%;
  top: 300px;
  position: absolute;
}
 .music {
    margin: 30px auto 20px auto;
  }
.menu {
    display: none;
  }
.topnav {
    display: none;
  }

  .social {
    margin: 10px;
    font-size: 20px;
    display: ;
  }

  .video {
    margin: 20px auto 40px auto;
  }
.par1 {   background-attachment: fixed; background-size: cover;}
.par2 {   background-attachment: fixed; background-size: cover;}
.par3 {   background-attachment: fixed; background-size: cover;}
}
